body {
    font-family: Poppins;
}

a {
    font-family: Poppins-Regular;
    color: #717fe0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

nav .link-login {
    font-size: 14px;
    color: #333;
    padding: 5px 0px;
    margin-left: 30px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.txt-danger {
    font-family: Poppins;
    color: #dc4c64;
}
.txt-success {
    font-family: Poppins;
    color: #75b798;
}
.arrow-slick3 {
    color: #fff;
    background-color: #ffffff00;
}
.arrow-slick3:hover {
    color: #333;
    background-color: #ffffff00;
}
.arrow-slick3:active {
    font-size: 30px;
}

.table-custom {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
}

.table-custom thead {
    box-shadow: 0 5px 10px #e1e5ee;
}

.table-custom th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
    text-align: center;
}

.table-custom td {
    padding: 1rem 2rem;
    text-align: center;
}

.table-custom a {
    text-decoration: none;
    color: #2962ff;
}

.table-custom .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}

.table-custom .status.status-pending {
    background-color: #e0e0e0;
    color: #616161;
}

.table-custom .status.status-confirmed {
    background-color: #bbdefb;
    color: #1976d2;
}

.table-custom .status.status-paid {
    background-color: #c8e6c9;
    color: #388e3c;
}

.table-custom .status.status-canceled {
    /* CANCELED */
    background-color: #ffcdd2;
    color: #c62828;
}

.table-custom tr:nth-child(even) {
    background-color: #f4f6fb;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s;
    box-shadow: none !important;
}

.btn:active {
    transform: scale(1.05);
}

.btn.btn-primary {
    background-color: #d1c4e9;
    color: #6a1b9a;
}

.btn.btn-primary:hover {
    background-color: #e1bee7;
}

.btn.btn-success {
    background-color: #c8e6c9;
    color: #388e3c;
}

.btn.btn-success:hover {
    background-color: #a5d6a7;
}

.btn.btn-info {
    background-color: #bbdefb;
    color: #1976d2;
}

.btn.btn-info:hover {
    background-color: #90caf9;
}

.btn.btn-danger {
    background-color: #ffcdd2;
    color: #c62828;
}

.btn.btn-danger:hover {
    background-color: #ef9a9a;
}

.btn i {
    font-size: 21px;
}
.box-input-list input {
    font-family: Poppins;
    padding-left: 15px;
}
.box-input-list {
    position: relative;
    padding-right: 30px;
    user-select: none;
}
.box-input-list::after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 13px;
    color: #808080;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(50%, -50%);
    pointer-events: none;
}
.box-input-list .result-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    overflow: scroll;
    display: none;
    z-index: 10;
}
.box-input-list .result-list li {
    padding: 10px;
    cursor: pointer;
}
.box-input-list .result-list li:hover {
    background-color: #717fe0;
    color: #fff;
}
.box-input-list .result-list li.active {
    background-color: #717fe0;
    color: #fff;
}
